#!/usr/bin/make -f
export DH_VERBOSE=1

JOBS=$(shell expr 2 \* $(shell cat /proc/cpuinfo | grep processor | wc -l))
KARGS=ARCH=arm CROSS_COMPILE=arm-linux-gnueabi- -j$(JOBS)
DESTDIR=debian/linux-db8060a

%:
	dh $@

override_dh_auto_clean:
	$(MAKE) $(KARGS) distclean
	rm -f arch/arm/mach-msm/smd_rpc_sym.c

override_dh_auto_build:
	$(MAKE) $(KARGS) msm8960-perf_defconfig
	$(MAKE) $(KARGS) zImage modules
	mkbootimg --kernel arch/arm/boot/zImage \
	          --ramdisk /dev/null \
	          --base 0x81200004 \
	          --cmdline "console=ttyHSL0,115200,n8 androidboot.hardware=qcom loglevel=5 root=/dev/mmcblk0p12 rw rootwait" \
	          --output arch/arm/boot/boot.img

# It's ugly that we're making the boot.img here because it contains the cmdline
# and knows about our ramdisk preferences. We might want to split this up some
# day.

override_dh_auto_install:
	mkdir -p $(DESTDIR)/boot
	cp arch/arm/boot/zImage $(DESTDIR)/boot
	cp arch/arm/boot/boot.img $(DESTDIR)/boot
	$(MAKE) $(KARGS) INSTALL_MOD_PATH=$(DESTDIR) modules_install
	rm -f $(DESTDIR)/lib/modules/*/build $(DESTDIR)/lib/modules/*/source

override_dh_auto_configure:
override_dh_auto_test:
	# pass
